.path-admin .region.region-content {
  position: relative;
}
.path-admin .feed-icon {
  position: absolute;
  top: 0;
  left: 150px;
  padding: 0px 16px;
  background-color: #0071b8;
  background-image: none;
  height: auto;
  width: 120px;
  display: block;
  border-radius: 20px;
  z-index: 12;
  overflow: visible;
  
  border: 1px solid #1e5c90;
}
.path-admin .contextual-region {
  position: inherit;
}
.path-admin .feed-icon:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "Export attendees";
  width: 100%;
  height: 18px;
  margin: auto;
  color: #fff;
  z-index: 0;
  text-indent: 0;
  text-align: center;
  border-color:#1e5c90;
  text-shadow: 0 1px hsla(0,0%,0%,0.5);
  font-weight: 700;
  font-size: 12px;
  line-height: 22px; 
}
.path-admin .feed-icon:hover {
  box-shadow: 0 1px 2px hsla(203,10%,10%,0.25);
}
.path-admin #block-bartik-content .feed-icon {
  top: -23px;
  }